:root {
  --font-size: 16px;
  --common-padding: 8px;
  --primary-bg: #e27a7a;
  --secondary-bg: white;
  --primary-color: rgba(33, 37, 41);
  --secondary-color: rgba(33, 37, 41, 0.5);
  --shadow-color: #573030;
  --shadow-blur-radius: 8px;
  --scroll-color: #6b6b6b;
  --fullscreen-height: 98.3vh;
}
html,
body {
  /* scroll-behavior: smooth !important; */
  background-color: white;
}
html {
  /* make scroll snap on element with # scroll-snap-align css attrib .*/
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(var(--fullscreen-height));
  scroll-snap-type: y mandatory;
}
.animated {
  /* transition: all 500ms; */
}
.animated-scroll {
  /* transition: all 1000ms; */
}
.stop-scrolling {
  transition: none !important;
  height: 100%;
  overflow: hidden;
  padding-right: 10px;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  top: 0;
  /* min-width: 100vw; */
  min-height: var(--fullscreen-height);
  height: var(--fullscreen-height);
  max-height: var(--fullscreen-height);
  position: relative;
  padding: var(--common-padding);
  scroll-snap-align: start;
}
.auto-scroll-top-indicator {
  position: absolute;
  top: 5%;
}
.auto-scroll-bottom-indicator {
  position: absolute;
  bottom: 5%;
}
.primary-bg {
  background-color: var(--primary-bg);
}
.primary-bg.dropshadow {
  -webkit-box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  -moz-box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
}
/* .primary-bg.dropshadow::before {
  -webkit-box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  -moz-box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  box-shadow: inset 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */
.secondary-bg {
  background-color: var(--secondary-bg);
}
.secondary-bg.dropshadow::before {
  -webkit-box-shadow: 0px -4px var(--shadow-blur-radius) 0px var(--shadow-color);
  -moz-box-shadow: 0px -4px var(--shadow-blur-radius) 0px var(--shadow-color);
  box-shadow: 0px -4px var(--shadow-blur-radius) 0px var(--shadow-color);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* .secondary-bg.dropshadow {
  -webkit-box-shadow: 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  -moz-box-shadow: 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  box-shadow: 0px 4px var(--shadow-blur-radius) 0px var(--shadow-color);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */
body {
  margin: 0;
  font-size: var(--font-size);
}
.primary-text {
  color: var(--primary-color);
}
.secondary-text {
  color: var(--secondary-color);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-color);
}

@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 601px) {
}
@media only screen and (max-width: 500px) {
}
