@media only screen and (min-width: 1601px) {
  .fullscreen-content {
    width: 100%;
    max-width: 1366px;
  }
  /* introduction text style start */
  .introduction-content,
  .about-me-content {
    width: 50%;
  }
  .introduction-content .text {
    color: var(--introduction-font-color);
    margin: 0;
    margin-bottom: 1rem;
  }
  .introduction-content .text.greeting {
    font-size: var(--introduction-font-size);
  }
  .introduction-content .text.name {
    font-size: calc(var(--introduction-font-size) * 2.3);
    stroke: var(--introduction-font-color);
    -webkit-text-stroke-color: var(--introduction-font-color);
    stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    margin-bottom: 1.5rem;
  }
  .introduction-content .text.position {
    font-size: var(--introduction-font-size);
    margin-bottom: 2rem;
  }
  /* introduction text style end */
  /* profile image start */
  .introduction-image,
  .about-me-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
  }
  .introduction-image img {
    max-width: 70%;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: var(--profile-drop-shadow);
    -moz-box-shadow: var(--profile-drop-shadow);
    box-shadow: var(--profile-drop-shadow);
  }
  .about-me-image img {
    max-width: 70%;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: var(--profile-drop-shadow);
    -moz-box-shadow: var(--profile-drop-shadow);
    box-shadow: var(--profile-drop-shadow);
  }
  /* profile image end */
  .section-title {
    margin-bottom: 20px;
  }

  .section-title h1 {
    font-size: 2.23rem;
  }
  .secondary-bg .section-title h1,
  .secondary-bg .section-sub-title h1 {
    color: var(--secondary-bg-font-color);
  }
  .primary-bg .section-title h1,
  .primary-bg .section-sub-title h1 {
    color: var(--primary-bg-font-color);
  }
  .about-me-content .content {
    line-height: 2.2;
    font-family: Roboto, sans-serif;
    text-align: justify;
  }
  .gap {
    gap: 16px;
  }

  .timeline-item-content-title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .timeline-item-content-sub-title {
    font-size: 1.1rem;
    color: rgba(245, 245, 245, 0.789);
  }
  .timeline-item-content-description {
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.789);
  }
}
